<!-- Validation failure messages -->

<% if @static_beer.errors.any? %>
  <% @static_beer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->
<% if current_user.username == "MBrewer87" %>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Add Static Beer</h3>
          </div>
          <div class="panel-body">
            <form action="/create_static_beer" class="form-horizontal">
              <!-- Label and input for beer_category -->
              <div class="form-group">
                <label for="beer_cat_name" class="col-sm-2 control-label">
                  Beer Category
                </label>
                <div class="col-sm-10">
                  <input type="text" id="beer_cat_name" name="beer_cat_name" placeholder="Beer Category" class="form-control" value="<%= @static_beer.beer_cat_name %>">
                </div>
              </div>

              <!-- Label and input for calpertype -->
              <div class="form-group">
                <label for="calpertype" class="col-sm-2 control-label">
                  Calories Per Serving
                </label>
                <div class="col-sm-10">
                  <input type="text" id="calpertype" name="calpertype" placeholder="Insert Calories" class="form-control" value="<%= @static_beer.calpertype %>">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="submit" value="Create Static Beer" class="btn btn-success">
                  or
                  <a href="/static_beers">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <div class="row">
    <h2> Sorry, you are not a moderator so cannot view this page! </h2>
  </div>
<% end %>

<!-- End responsive panel example -->
