<!DOCTYPE html>
<html>
<head>
    <title>Welcome To Earn Your Beer!</title>

<!-- Adds Bootstrap Javascript - in case needed! -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

  <div class="container">
        <div class="jumbotron">
          <p> </p>
          <div class="center-block">
            <img src="/assets/BeerSuds_Modified.jpg" alt="Earn Your Beer: Vanquishing the Beer Belly Since 2014" style="border:5px solid white">
          </div>
          <p> </p>
          <p><a class="btn btn-primary btn-lg" role="button" href="users/sign_out" data-method="delete">Sign Out</a></p>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <strong> What's New: </strong>
                    <ul>
                        <li> Have built the initial pages in HTML! You should check them out. </li>
                        <li> Have started to use Bootstrap, the page is looking better now! </li>
                        <li> Maybe consumed some beer (responsibly!) while coding this web page. </li>
                        <li> Have built some category entry pages and a users page to be updated/maintained by a moderator and hidden to signed-in users. Links are here: <a href="/static_exercises/">Static Exercise</a>, <a href="/static_beers">Static Beer</a>, and <a href="/users">Users</a>. Check them out! </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>

<!--    Removing because of installation of devise  -->
<!-- <% if current_user.present? %>
        <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close </span> </button>
          <p>Welcome, <%= current_user.username %>! You have signed in successfully.</p>
        </div>
      <% end %> -->

        <div class="row">
            <div class="col-lg-5 well text-center">
              <a class="btn btn-primary btn-lg" role="button" href="/exercises/new">
                Record Your Exercise
              </a>
            </div>

            <div class="col-lg-5 well col-lg-offset-2 text-center">
              <a class="btn btn-primary btn-lg" role="button" href="/beers/new">
                Record Your Beer
              </a>
            </div>
        </div>

    </div>

</body>
