<div class="page-header">
  <h1> About Earn Your Beer </h1>
  <small> How did this thing get created, anyway? </small>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Earn Your Beer was created as part of a new class at the University of Chicago Booth School of Business called "Application Development". When thinking of an application idea, Mike decided to attempt to tackle one of his most frequent problems: how to balance his love of beer with his expanding beer belly. Earn Your Beer is meant to be a <u>simple</u>, <u>focused</u> way to try to keep your body in balance. Combine this app with a healthy diet, and you should be on your way to immortality!
  </div>
</div>
