<!-- Validation failure messages -->

<% if @exercise.errors.any? %>
  <% @exercise.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Exercise</h3>
      </div>
      <div class="panel-body">
        <form action="/create_exercise" class="form-horizontal">
          <!-- Label and input for exercise_category -->
          <div class="form-group">
            <label for="exercise_category" class="col-sm-2 control-label">
              Exercise Category
            </label>
            <div class="col-sm-10">
             <%= select_tag(:exercise_category, options_from_collection_for_select(StaticExercise.order("exercise_cat_name ASC"), :id, :exercise_cat_name, @exercise.exercise_category), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for duration -->
          <div class="form-group">
            <label for="duration" class="col-sm-2 control-label">
              Duration
            </label>
            <div class="col-sm-10">
              <input type="text" id="duration" name="duration" placeholder="Duration" class="form-control" value="<%= @exercise.duration %>">
            </div>
          </div>

          <!-- Label and input for intensity -->
          <div class="form-group">
            <label for="intensity" class="col-sm-2 control-label">
              Intensity
            </label>
            <div class="col-sm-10">
              <label class="checkbox-inline"> <input type="radio" name="intensity" id="intensity1" value="Low">Low</label>
              <label class="checkbox-inline"> <input type="radio" name="intensity" id="intensity2" value="Medium">Medium</label>
              <label class="checkbox-inline"> <input type="radio" name="intensity" id="intensity3" value="High">High</label>
            </div>
          </div>

          <!-- Label and input for favsave -->
          <div class="form-group">
            <label for="favsave" class="col-sm-2 control-label">
              Save as Favorite?
            </label>
            <div class="col-sm-10">
                <label class="checkbox-inline"> <input type="radio" name="favsave" id="favsave1" value="Yes">Yes</label>
                <label class="checkbox-inline"> <input type="radio" name="favsave" id="favsave2" value="No">No</label>
            </div>
          </div>

          <!-- Label and input for user ID, which is hidden -->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Exercise" class="btn btn-success">
              or
              <a href="/exercises">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
